<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'カクテル言葉', scripts = ~{::script}, links = ~{::link})"></head>
<title>CSS</title>
<style>
h1 {
	font-size: 30px;
	widht: 800px;
	height: 100px;
}
.title{color:red}

img.example1 {
	width: 1000px;
	height: 300px;
}
</style>
<body>
	<div class="container">
		
		<div class="title">
		<h1>CocktailWords</h1>
		
	</div>


		<p>


			<img
				src="https://cocktaillog.com/ja/assets/images/all_list_banner_01.jpg"
				class="example1">
				<h1>カクテル一覧</h1>
		</p>
		<div>

			<dl th:each="ct : ${cocktailwords}">
				<dt>
					<a th:href="@{/user/recipe/{cocktailwordsname}(cocktailwordsname=${ct.cocktailwordsname})}
					" th:text="${ct.cocktailwordsname}"></a>
				</dt>

				<dt></dt> 
				<dt th:text="${ct.words}"></dt>

			</dl>
		</div>
		
	</div>
</body>
</html>