
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'レビュー', scripts = ~{::script}, links = ~{::link})"></head>

</head>

<link rel="stylesheet" th:href="@{/css/cocktailrecipe.css}">
<body>


	<div>
		<!-- タイトル部分 ここから-->
		<h1 class="container" th:text="*{cocktailrecipe.cocktailwordsname}"></h1>

	</div>


	<!-- 画像と横の表　ここから -->
	<div class="flex">
		<figure class="image">
			<img
				th:src="@{/image/{Cocktailimage}(Cocktailimage = ${cocktailrecipe.cocktailwordsname} + .jpg)}">
		</figure>
		<div class="right">
			<table class="cp_table">
				<tr>
					<th>【材料】</th>
					<td th:text="*{cocktailrecipe.material}"></td>
				</tr>
				<tr>
					<th>【作り方】</th>
					<td th:text="*{cocktailrecipe.howtomake}"></td>
				</tr>
			</table>

		</div>
	</div>

<table>
								<tbody>

									<tr th:each="user : ${review}" class="align-middle">
										<td th:text="*{#dates.format(user.hiduke, 'yyyy/MM/dd')}"></td>
										<td th:text="*{user.nickname}"></td>
										<td th:text="*{user.gender}"></td>
										<td th:text="*{user.age}"></td>
										<td th:text="*{user.evaluation}"></td>
										<td th:text="*{user.comment}"></td>

									</tr>
								</tbody>
							</table>

	<!-- 口コミ情報を追加　ここから -->
	<br>
	<div class="row">
		<div class="col-md-12">
			<h2 class="section-title">口コミ情報</h2>

			<h3>レビューコメント</h3>

			<div class="balloon5">
				<div class="faceicon">
					<img
						src="https://cdn.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:1000/https://www.filepicker.io/api/file/rfAZzqpWRr2dng7C48mw">
					<p class="small"></p>
				</div>
				<div class="chatting">
					<div class="says">
						<div class="star-rating">
							<div class="star-rating-front" style="width: {{"></div>
							<div class="star-rating-back"></div>
							<table>
								<tbody>

									<tr th:each="user : ${review}" class="align-middle">
										<td th:text="*{#dates.format(user.hiduke, 'yyyy/MM/dd')}"></td>
										<td th:text="*{user.nickname}"></td>
										<td th:text="*{user.gender}"></td>
										<td th:text="*{user.age}"></td>
										<td th:text="*{user.evaluation}"></td>
										<td th:text="*{user.comment}"></td>

									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<p></p>
						<p class="small"></p>
					</div>
				</div>
			</div>

			<style>/*</span><table>



	  <tbody>
	  
	  
	  
        <tr th:each="user : ${review}"  class="align-middle">
          <td th:text="${#dates.format(user.hiduke, 'yyyy/MM/dd')}"></td>
          <td th:text="${user.nickname}"></td>
          <td th:text="${user.gender}"></td>
          <td th:text="${user.age}"></td>
          <td th:text="${user.evaluation}"></td>
          <td th:text="${user.comment}"></td>
        
        
          
        </tr>
      </tbody>
</table>*/
</style>

			<form
				th:action="@{/review/create/{cocktailwordsname}(cocktailwordsname=${cocktailrecipe.cocktailwordsname})}"
				th:object="${reviewRequest}" th:method="RequestMethod.post">
				<div>
					<label for="view_name"> ニックネーム</label> <br> <input type="text"
						th:field="${reviewRequest.nickname}" class="form-control">
				</div>

				<br> <label for="view_gender"> 性別</label> <select name="gender"
					th:field="${reviewRequest.gender}" class="form-control">
					<option value=""></option>
					<option value="男">男</option>
					<option value="女">女</option>

				</select> <br> <br> <label for="view_age"> 年代</label> <select
					name="age" th:field="${reviewRequest.age}" class="form-control">
					<option value=""></option>
					<option value="20代">20代</option>
					<option value="30代">30代</option>
					<option value="40代">40代</option>
					<option value="50代">50代</option>
					<option value="60代">60代</option>
					<option value="70代">70代</option>
					<option value="80代">80代</option>

				</select> <br> <br> <label for="view_age"> 評価</label><br>
				<br>
				<div class="evaluation" style="float: left;">
					<input id="score1" type="radio" name="score" value="5"
						th:field="${reviewRequest.evaluation}" class="form-control" /> <br>
					<label for="score1"><span class="text">最高</span>★</label> <input
						id="score2" type="radio" name="score" value="4" /> <label
						for="score2"><span class="text">良い</span>★</label> <input
						id="score3" type="radio" name="score" value="3" /> <label
						for="score3"><span class="text">普通</span>★</label> <input
						id="score4" type="radio" name="score" value="2" /> <label
						for="score4"><span class="text">悪い</span>★</label> <input
						id="score5" type="radio" name="score" value="1" /> <label
						for="score5"><span class="text">最悪</span>★</label>
				</div>
				<br> <br>

				<div>
					<br> <br> <label>コメント</label> <br> <input
						type="text" th:field="${reviewRequest.comment}"
						class="form-control">
				</div>

				<br /> <input type="submit" value="　投稿する　" class="btn btn-primary">



			</form>

		</div>

	</div>
</body>