
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head
	th:replace="common/head :: head_fragment(title = 'カクテル言葉', scripts = ~{::script}, links = ~{::link})">
</head>

<link th:href="@{/css/toppage.css}" rel="stylesheet" type="text/css"/>
<body>

	<a th:href="@{/user/gojuuon}" class="btn list">List</a>
	
	<div class="title">
		<h1>CocktailWords</h1>
	</div>
	
	<div class="button">
		<div class="button top">
			<a th:href="@{/user/{wordscategory}(wordscategory=恋愛系)}"class="btn love">💘Romantic</a> 
			<a th:href="@{/user/{wordscategory}(wordscategory=友情編)}"class="btn friendship">🤝Friendship</a> 
			<a th:href="@{/user/{wordscategory}(wordscategory=自己啓発系)}"class="btn self-enlightenment">💪Self-development</a>
			<a th:href="@{/user/{wordscategory}(wordscategory=片思い)}"class="btn unrequited-love">💓Unreuitedlove</a> 
			<a th:href="@{/user/{wordscategory}(wordscategory=失恋)}"class="btn broken-heart">💔Heartbreak</a>
			<a th:href="@{/user/{wordscategory}(wordscategory=積極系)}"class="btn Aggressive">💋Aggressive</a>
		</div>
		
		<div class = "button bottom">
			<a th:href="@{/user/yougo}"class="btn term">📝CocktailTerm</a>
		</div>
	</div>
	
</body>