@charset "UTF-8";

body {
background-color: black;
}


/* 見出し*/

.container {
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
    position: relative;
    color:#E0FFFF;
    font-family: "Hannari";
}
.container::before {
    content:"CocktailRecipe";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%) rotate(-8deg);
    color: rgb(233, 108, 108, 0.4);
    font-size: 60px;
    font-family: luxus-brut, cursive;
    font-style: italic;
    z-index: -1;
}


/* 横並び */

.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 50px;
  padding:50px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.cp_table *, .cp_table *:before, .cp_table *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	
}
.cp_table {
	margin-top:200px;
	width: 100%;
	border-collapse: collapse;
	
}
.cp_table th, .cp_table  td {
	padding: 10px;
	border: 1px solid #dddddd;
	color:white;
}
.cp_table th {
	width: 30%;
	text-align: left;
	background: #000000;
	color:white;
}
@media only screen and (max-width:480px) {
	.cp_table {
		margin: 0;
	}
	.cp_table th, .cp_table td {
		width: 100%;
		display: block;
		border-top: none;
	}
	.cp_table tr:first-child th {
		border-top: 1px solid #dddddd;
	}
}

/* カクテル言葉 */

.cocktailwords h3{
	text-align: center;
	color:white;
}

/* 口コミ情報タイトル*/
.head-border {
    display: flex;
    align-items: center;
    color:white;
}
 
.head-border:before,
.head-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
 
.head-border:before {
    margin-right: 1rem;
}
 
.head-border:after {
    margin-left: 1rem;
}

h3{
	color:white;
}
}


/* スコア入力の★ */

.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: #ccc;
  cursor: pointer;
  font-size: 30px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc33;
}


/* レビュー欄 */

.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
  }
  
.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 80%;
  height: auto;
  border: solid 1px #342a2a;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #fffaf0;
  width: 45%; /* レビューのサイズ*/
  
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #fffaf0;
}

.says p {
  margin: 0;
  padding: 0;
}

.says img {
  float: right;
  padding: 2px;
  margin-right: 100px;
}

.faceicon img {
  
 background-color:white;
}

.faceicon p {
  text-align:center;
  color:white;
}

textarea {
  width: 80%;
  border-radius: 10px;
}
.head-border2 {
    display: flex;
    align-items: center;
    color:white;
}
 
.head-border2:before,
.head-border2:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
 
.head-border2:before {
    margin-right: 1rem;
}
 
.head-border2:after {
    margin-left: 1rem;
}

.col{
	font-size: 20px
}



/* スコア表示の★ */
.star-rating {
  position: relative;
  width: 5em;
  height: 150px;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
7select {
  color: #999999;
}

.form-nickname{ /* ニックネーム */
	 width: 15%;
	 
}
.form-gender{ /* 性別 */
	width: 5%; 


}
.form-age{  /* 年代 */
	width: 5%; 
	
	}


.form-comment{ /* コ
メント */
	width: 25%; 
	
	 
	
}

 label{
	 color:white;
}
