@charset "UTF-8";
/**/
.list{
	background-color: rgba(105,105,105,0.9);
  	position: absolute;
  	color: black;
  	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
}

/**/
.title{
	padding: 180px 0 100px 0;
  	background-image: url(https://www.loisir-naha.com/restaurant/img/planete/slides/main_01.jpg);
  	background-size: cover;
  	background-position:50% 60%;
  	text-align: center;
  	color:white;
  		font-style: italic;
  	font-family: Times New Roman, "メイリオ";

}
body{
	background-color: black;
}


button{
	{
	background: rgba(105,105,105,0.9);
	margin:0 500px;
	color: black;
	font-style: italic;
    font-family: Times New Roman, "メイリオ";
}
	
}

/* 見出し*/
.container{
	
	background-color: rgba(105,105,105,0.9);
  	position: absolute;
  	color: black;
  	font-style: italic;
  	font-family: Times New Roman, "メイリオ"
	
	}

	

/*	
.cp_cssslider {
	width: 700px;
	height: 400px;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 700px;
	height: 400px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 300%;/* slideの枚数×100% */
/*	position: relative;
	left: 0;
	animation: slider 20s infinite ease;/* スピード */
/*}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	/*0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	/*0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	*/
}
.cocktainame{
	margin:50px 0px 0px 0px;
	font-size: 20px;
	/*font-family: "Yu Gothic";*/
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
	}
	
.word{
	margin:20px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
    font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;

