@charset "UTF-8";

.title{
	padding: 180px 0 100px 0;
  	background-image: url(https://www.playing-housing.com/wp-content/uploads/2014/05/IMG_1942M3l.jpg);
  	background-size: cover;
  	background-position:50% 60%;
  	text-align: center;
  	color:white;
}

body{
	background-color: black;
}

h1{
	background: rgba(105,105,105,0.9);
	margin:0 500px;
	color: black;
	font-style: italic;
    font-family: Times New Roman, "メイリオ";
}

.list{
	background-color: rgba(105,105,105,0.9);
  	position: absolute;
  	color: black;
  	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
}

.love{
	margin:50px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
    
}

.friendship{
	margin:50px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
	}

.self-enlightenment{
margin:50px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
	}

.unrequited-love{
margin:50px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
	}

.broken-heart{
	margin:50px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
	}

.Aggressive{
	margin:50px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
  	font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
	}
	
.term{
	margin:20px 0px 0px 0px;
	font-size: 20px;
	font-style: italic;
    font-family: Times New Roman, "メイリオ";
	color: white;
	font-style: oblique;
}

.button top{
 	display: inline-block;
}

.button bottom{
 	display: inline-block;
}

.button{
	text-align:center;
}